:root {
  --text-shadow-color: #ff9c99;
  --text-main-color: #d74742;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(http://68.media.tumblr.com/cb8ecf0bda309c2039b88edef2960f4b/tumblr_oefykgWayY1vcoikjo1_540.gif);
  background-repeat: no-repeat;
  background-size: 700px;
}

code {
  font-family: Arial, Helvetica, sans-serif,
}

.timer {
  max-width: 80vw;
}

h1 {
  color: rgba(224, 145, 36);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 80px;
  padding: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px var(--text-shadow-color);
}

p {
  color: rgb(236, 28, 247);
  font-family: "Carme", sans-serif;
  font-size: 16px;
}

.container {
  margin: auto;
  max-width: 1048px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer__display {
  padding-left: 1.5em;
}
.timer__display > p {
  font-size: 5em;
}

.button__wrapper {
  display: flex;
  width: 30vw;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
}
.button {
  color: rgb(198, 32, 198);
  background-color: rgba(235, 230, 223, 0.2);
  font-size: 1.14em;
  border-radius: 20%;
  border: 1px solid rgb(5, 3, 3,0.1);
  padding: 1em;
  margin: 20px;
  transition: ease-in-out 0.3s;
}
.button:active {
  border: 1px solid var(--text-main-color);
  background-color: var(--text-main-color);
}
.button:hover {
  transform: scale(120%);
}
.button:disabled {
  background-color: rgb(143, 90, 90);
}
.lap-list p{
  font-size: 20px;
  margin-top: 10px;
  text-align: center;

}

@media only screen and (max-device-width: 1280px) {
  * {
    font-size: 0.9em;
  }
  h1 {
    font-size:40px;
    line-height: 0px;
  }
  .button__wrapper {
    margin: auto;
    width: 100%;
  }
  .timer__display > p {
    font-size: 4em;
    padding-left: 0;
  }
  .timer {
    width: 100vw;
    padding-top: 30px;
  }
  .button {
    margin: 5px 5px;
  }
  .container p {
    text-align: center;
  }

}
